In [1]:
import pandas as pd
import sklearn as sk
import matplotlib.pyplot as plt

In [2]:
def create_our_columns(dataframe):
    grouped = dataframe.groupby('ident')
    masa_total = grouped.sum()['emepla(i)/emet']
    eficiencia = masa_total/(grouped['emed'].first())
    n_planetas = grouped.size()
    
    new = dataframe.assign(nplanets=n_planetas)
    new = new.assign(tmass=masa_total)
    new = new.assign(eff=eficiencia)
    
    return new

In [3]:
low = pd.read_csv('lowp_finalresults.csv')
high = pd.read_csv('highp_finalresults.csv')

In [4]:
low.head()

,ident,it,t,a(i),emegas(i),emepla(i)/emet,rplanet(i)/radtie,emestar,rc,qest,sigmag_0,emed,gama,apert,fpert,constmigI,emetal,taugas
0,0,199992,20000001.0,0.026231,0.001185,1.710156,1.8388847169925493,4.368174e+32,59.88237,1.110726,51.287674,0.13,1.0,0.1,1.0,0.1,0.07707,9268935.0
1,0,199992,20000001.0,2.170653,0.000000,1.646707,1.8167126017756039,4.368174e+32,59.88237,1.110726,51.287674,0.13,1.0,0.1,1.0,0.1,0.07707,9268935.0
2,0,199992,20000001.0,4.251030,0.000000,1.059631,1.5688831343393115,4.368174e+32,59.88237,1.110726,51.287674,0.13,1.0,0.1,1.0,0.1,0.07707,9268935.0
3,0,199992,20000001.0,5.468018,0.000000,0.839156,1.4520602505243447,4.368174e+32,59.88237,1.110726,51.287674,0.13,1.0,0.1,1.0,0.1,0.07707,9268935.0
4,0,199992,20000001.0,8.935596,0.000000,0.367578,1.1032029110256696,4.368174e+32,59.88237,1.110726,51.287674,0.13,1.0,0.1,1.0,0.1,0.07707,9268935.0

In [5]:
low_complete = create_our_columns(low)
low_complete.head()

,ident,it,t,a(i),emegas(i),emepla(i)/emet,rplanet(i)/radtie,emestar,rc,qest,...,emed,gama,apert,fpert,constmigI,emetal,taugas,nplanets,tmass,eff
0,0,199992,20000001.0,0.026231,0.001185,1.710156,1.8388847169925493,4.368174e+32,59.88237,1.110726,...,0.13,1.0,0.1,1.0,0.1,0.07707,9268935.0,12.0,6.705383,51.579871
1,0,199992,20000001.0,2.170653,0.000000,1.646707,1.8167126017756039,4.368174e+32,59.88237,1.110726,...,0.13,1.0,0.1,1.0,0.1,0.07707,9268935.0,8.0,2.725320,143.437891
2,0,199992,20000001.0,4.251030,0.000000,1.059631,1.5688831343393115,4.368174e+32,59.88237,1.110726,...,0.13,1.0,0.1,1.0,0.1,0.07707,9268935.0,12.0,10.749995,136.075885
3,0,199992,20000001.0,5.468018,0.000000,0.839156,1.4520602505243447,4.368174e+32,59.88237,1.110726,...,0.13,1.0,0.1,1.0,0.1,0.07707,9268935.0,23.0,6.397114,639.711381
4,0,199992,20000001.0,8.935596,0.000000,0.367578,1.1032029110256696,4.368174e+32,59.88237,1.110726,...,0.13,1.0,0.1,1.0,0.1,0.07707,9268935.0,10.0,2.953130,70.312617

In [6]:
high_complete = create_our_columns(high)
high_complete.head()

,ident,it,t,a(i),emegas(i),emepla(i)/emet,rplanet(i)/radtie,emestar,rc,qest,...,emed,gama,apert,fpert,constmigI,emetal,taugas,nplanets,tmass,eff
0,0,199993,20000001.0,0.030237,0.004911,1.904923,1.9029824602178687,4.368174e+32,59.88237,1.110726,...,0.13,1.0,0.3,1.0,0.1,0.07707,9268935.0,11.0,8.136583,62.589101
1,0,199993,20000001.0,0.818832,0.000238,1.642056,1.8150047639338782,4.368174e+32,59.88237,1.110726,...,0.13,1.0,0.3,1.0,0.1,0.07707,9268935.0,13.0,2.827470,148.814199
2,0,199993,20000001.0,2.124022,0.000000,1.786051,1.8659921485803184,4.368174e+32,59.88237,1.110726,...,0.13,1.0,0.3,1.0,0.1,0.07707,9268935.0,9.0,7.979543,101.006870
3,0,199993,20000001.0,5.123330,0.000000,0.843418,1.4538852266916131,4.368174e+32,59.88237,1.110726,...,0.13,1.0,0.3,1.0,0.1,0.07707,9268935.0,18.0,6.944855,694.485525
4,0,199993,20000001.0,6.932367,0.000000,0.477013,1.2031125383842882,4.368174e+32,59.88237,1.110726,...,0.13,1.0,0.3,1.0,0.1,0.07707,9268935.0,10.0,3.193649,76.039252